/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --bg-color: #f2f2f2;
    --text-color: #333;
    --menu-width: 200px;
    --header-height: 60px;
    --footer-height: 50px;
    --hamburger-size: 24px;
}

/* Body and general layout */
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 10px;
    font-size: 18px;
    position: relative;
}

header .name {
    margin-left: 10px;
}

/* Hamburger Menu Button */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: var(--hamburger-size);
    background: transparent;
    border: none;
    color: #228B22;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
}

/* Main content area */
.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Left menu column */
.left-menu {
    width: var(--menu-width);
    background-color: var(--bg-color);
    padding: 10px;
    height: 100%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/* Image and carousel area */
.image-area {
    flex: 1;
    padding: 0;
    background-color: var(--bg-color);
    overflow: auto;
    margin-right: 0;
    size: 100%;
}

/* Footer */
footer {
    height: var(--footer-height);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        margin-right: 0;
    }
    
    .image-area {
        padding: 0;
        margin-right: 1%;
        margin-left: 15%;
    }
    
    .hamburger {
        display: block;
    }
    
    .left-menu {
        position: fixed;
        top: 0;
        left: -200px;
        width: auto;
        height: auto;
        max-height: 100vh;
        background-color: #C1E1C1;
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
    }
    
    .left-menu.open {
        left: 0;
        z-index: 1000;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 14px;
    }
    
    .image-area {
        padding: 5px;
        margin-right: 2vw;
    }
}