/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS Variables */
:root {
    --bg-color: #f2f2f2;
    --text-color: #333;
    --menu-width: 200px;
    --header-height: 60px;
    --footer-height: 50px;
    --hamburger-size: 24px;
}

/* Touch Actions for Mobile Browser */
[touch-action="none"] { touch-action: none; }
[touch-action="auto"] { touch-action: auto; }
[touch-action="pan-x"] { touch-action: pan-x; }
[touch-action="pan-y"] { touch-action: pan-y; }
[touch-action="pan-x pan-y"],
[touch-action="pan-y pan-x"] { touch-action: pan-x pan-y; }

/* Body and general layout */
body {
    font-family: 'Lato', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 100vh;
}

/* Navigation */
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover {
    color: gray;
}

nav a.active {
    color: #228B22; /* Change to the color you want */
    font-weight: bold; /* Optional: Make the active link bold */
}

/* Header */
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    font-size: 18px;
    position: relative;
}

header.name {
    margin-left: 10px;
}

.title {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 20px; /* Adjust as needed */
}

/* Hamburger Menu Button */
.hamburger {
    display: none;
    cursor: pointer;
    font-size: var(--hamburger-size);
    background: transparent;
    border: none;
    color: #228B22;
    position: absolute;
    top: 0px;
    left: 20px;
    z-index: 1000;
}

/* Main content area */
.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Left menu column */
.left-menu {
    width: var(--menu-width);
    background-color: var(--bg-color);
    padding: 20px;
    height: 100%;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

/* Image and slide show area */
.image-area {
    flex: 1;
    position: relative;
    max-width: 80vw; /* Reduce width slightly */
    max-height: 90vh; /* Ensure it doesn't push beyond viewport */
    overflow: hidden; /* Hide any overflow */
    width: auto;
    align-self: flex-start; /* Align to the top of its area */
}


/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    height: 100%;
    width: 33%;
    color: transparent;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
}

/* Position the "prev button" to the left */
.prev {
    left: 0;
}

/* On hover of next buttons, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/* gallery button when press image */
.gallery {
    position: absolute;
    left: 33%;
    width: 33%;
    height: 100%;
    bottom: 0;
    color: transparent;
}

/* Add a new cursor to open the gallery button */
.gallery:hover {
    cursor: pointer;
}

.mySlides {
    display: flex;
    flex-direction: column; /* Stacks images vertically */
    align-items: center; /* Centers images horizontally */
    width: 100%;
}

/* The slideshow container */
.mySlides img {
    width: 100%;
    height: 80vh;
    object-fit: contain; /* Ensures the image is fully visible */
    display: block; /* Ensures there's no extra space below the image */
    margin: 0; /* Removes any margin */
}

.mySlides:first-child { display: block; }

/* Hide all images except the first one */
.mySlides img:not(:first-child) {
    display: none;
}

.slideshow-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;

}
/* gallery grid */
.gallery-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    max-height: 100vh; /* Make sure the gallery doesn't exceed the viewport height */
    overflow: auto; /* Allows scrolling if content overflows */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust size as needed */
    gap: 5px; /* Reduces vertical and horizontal gap */
    padding: 5px; /* Adds padding around the grid */
}

.grid-item {
    width: 100%;
    display: block;
    border: none; /* Removes any border */
    outline: none; /* Ensures no outline appears */
    box-shadow: none; /* Removes any shadow effects */
    border-radius: 0; /* Removes any corner radius */
}

.grid-item img {
    width: 100%;
    height: 100px; /* Adjust to the desired height */
    object-fit: cover; /* Ensures the aspect ratio is maintained while filling the height */
}

/* Footer */
footer {
    height: var(--footer-height);
    background-color: var(--bg-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
        margin-right: 0;
    }
    
    .image-area {
        padding: 0;
        margin-right: 1%;
        margin-left: 15%;
    }
    
    .hamburger {
        display: block;
    }
    
    .left-menu {
        position: fixed;
        top: 30px;
        left: -200px;
        width: auto;
        height: 100%;
        max-height: 100vh;
        background-color: #C1E1C1;
        overflow-y: auto;
        transition: left 0.3s ease-in-out;
        z-index: 1000;
    }
    
    .left-menu.open {
        left: 0;
        z-index: 1000;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 14px;
    }
    
    .image-area {
        padding: 5px;
        margin-right: 2vw;
    }
}

@media (min-width: 768px) {
    /* Apply hover effect only when width is greater than 767px */
    .gallery-grid img {
        cursor: pointer;
    }
}